@model CallogApp.Models.Call

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Call</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Caller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Suject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Suject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('input:submit').on('click', function (e) {
                e.preventDefault();
                swal({
                    title: "Careful!",
                    text: "Are you sure you want to delete?",
                    icon: "warning",
                    dangerMode: true,
                    buttons: {
                        cancel: "Exit",
                        confirm: "Confirm",
                    },
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $(this).closest("form").submit();
                        }
                    });

            });
        }
    </script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

