@model CallogApp.Models.Approval

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Approval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Requester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requester.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMode.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeagerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeagerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YTD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YTD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentRequest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentRequest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YTDPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YTDPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beneficiary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beneficiary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdvanceRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvanceRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreparedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreparedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorisedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorisedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovalLevel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedStatus.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
